form {
    margin: 20px;
    padding: 10px;
    border: 1px solid #000; /* черный цвет */
    background-color: #fff; /* белый цвет */
}

button {
    background-color: #ff0; /* желтый цвет */
    color: black; /* черный цвет */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}